<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>EnseirbWebXMLWebapp</display-name>
	<context-param>
		<param-name>mustInitDB</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>fr.enseirb.webxml.servlet.listener.WebAppInitializer</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>DefaultServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>DefaultServlet</display-name>
		<servlet-name>DefaultServlet</servlet-name>
		<servlet-class>fr.enseirb.webxml.servlet.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/DefaultServlet</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RawFileServlet</display-name>
		<servlet-name>RawFileServlet</servlet-name>
		<servlet-class>fr.enseirb.webxml.servlet.RawFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RawFileServlet</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet>
	  <description></description>
	  <display-name>ListTasksServlet</display-name>
	  <servlet-name>ListTasksServlet</servlet-name>
	  <servlet-class>fr.enseirb.webxml.servlet.ListTasksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListTasksServlet</servlet-name>
		<url-pattern>/task/list/xml</url-pattern>
	</servlet-mapping>
	<servlet>
	  <description></description>
	  <display-name>ListUsersServlet</display-name>
	  <servlet-name>ListUsersServlet</servlet-name>
	  <servlet-class>fr.enseirb.webxml.servlet.ListUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUsersServlet</servlet-name>
		<url-pattern>/users/list/xml</url-pattern>
	</servlet-mapping>
	<servlet>
	  <description></description>
	  <display-name>CreateUserServlet</display-name>
	  <servlet-name>CreateUserServlet</servlet-name>
	  <servlet-class>fr.enseirb.webxml.servlet.CreateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/user/create/url</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReinitDataServlet</display-name>
		<servlet-name>ReinitDataServlet</servlet-name>
		<servlet-class>fr.enseirb.webxml.servlet.ReinitDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReinitDataServlet</servlet-name>
		<url-pattern>/reinitdata</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AboutServlet</display-name>
		<servlet-name>AboutServlet</servlet-name>
		<servlet-class>fr.enseirb.webxml.servlet.AboutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
		<url-pattern>/about/teacher</url-pattern>
		<url-pattern>/about/teacher/post</url-pattern>
	</servlet-mapping>
</web-app>
